.footer{
  padding: 8px 0;
}

.footer__inner{
  padding: 6em 0 3.4em;
}

.footer__top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5em;
}

.footer__logo-link{
  display: inline-block;
  text-decoration: none;
}

.footer__list-box{
  display: flex;
  flex-direction: column;
}

.footer__subject{
  display: inline-block;
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.8em;
  text-transform: uppercase;
  color: #080829;
}

.footer__list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item{
  margin-bottom: 1.25em;
  &:nth-child(7){
    position: relative;
    margin-bottom: 0;
    &::before{
      position: absolute;
      left: -12em;
      bottom: -2px;
      width: 1.125em;
      height: 1.125em;
      background-image: url("../images/footer-bgi.svg");
      background-repeat: no-repeat;
      background-size: 1.125em;
      background-position: center;
      content: "";
    }
  }
}

.footer__items{
  margin-bottom: 1.25em;
  &:nth-child(9){
    margin-bottom: 0;
  }
}

.footer__itemss{
  margin-bottom: 0.9em;
  padding-left: 2em;
  background-image: url("../images/sms-icon.svg");
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: left center;
  &:nth-child(2){
    background-image: url("../images/tell-icon.svg");
  }
  &:nth-child(3){
    background-image: url("../images/ball-two-icon.svg");
  }
  &:nth-child(4){
    margin-bottom: 0;
    padding-left: 0;
    background-image: none;
  }
}

.footer__link{
  display: inline-block;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.9em;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #080829;
}

.footer__link-icon{
  display: inline-block;
  margin-right: 1.4em;
  text-decoration: none;
  &:nth-child(4){
    margin-right: 0;
  }
}

.footer__bottom{
  display: flex;
  justify-content: space-between;
}

.footer__desc{
  display: inline-block;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  color: #212121;  
}

.footer__desc-two{
  color: #000;
}

@media only screen and (max-width: 44em) {
  .footer__top{
    flex-direction: column;
    align-items: center;
  }

  .footer__logo-link{
    margin-bottom: 4em;
  }

  .footer__list-box{
    margin-bottom: 4em;
    text-align: center;
  }

  .footer__right{
    text-align: center;
  }
}

@media only screen and (max-width: 33em) {
  .footer__bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer__desc{
    margin-bottom: 1em;
  }
}